[Desktop Entry]
Version=1.0
Name=multivisor_web
Comment=IMAQ multivisor web frontend for supervisor process control system
Keywords=monitor; multivisor; supervisor; process
Exec=/home/imaq-pi01/multivisor/Startup_lxterminal
Type=Application
Icon=/home/imaq-pi01/multivisor/icon_multivisor.png
NoDisplay=false