[Desktop Entry]
Version=1.0
Name=multivisor
Comment=Sr3 multivisor web frontend for supervisor process control system
Keywords=monitor; multivisor; supervisor; process
Exec=/home/roku/multivisor/Startup_ubuntu
Type=Application
Icon=/home/roku/multivisor/icon_multivisor.png
NoDisplay=false